@model isp_management.Models.Client
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<section id="main-content" class="">
    <section class="wrapper">
        <!-- page start-->
        <!-- page start-->
        <div class="row">

            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Client Create
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
   @using (Html.BeginForm("Create", "Client", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
   {

                <div class="form-group">
                    <label class="control-label col-md-3">Code<span style="color:red;">*</span></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Code, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Name<span style="color:red;">*</span></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Name, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Mobile1<span style="color:red;">*</span></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Mobile1, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Mobile2<span style="color:red;">*</span></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Mobile2, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Email<span style="color:red;">*</span></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @Class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Gender<span style="color:red;">*</span></label>
                    <div class="col-md-8">
                        @Html.DropDownList("Gender_Id", (List<SelectListItem>)ViewData["GenderList"], "Select Gender", new { @class = "form-control editor-field" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Blood Group<span style="color:red;">*</span></label>
                    <div class="col-md-8">
                        @Html.DropDownList("Blood_Group_Id", (List<SelectListItem>)ViewData["bloodlist"], "Select Blood Group", new { @class = "form-control editor-field" })
                    </div>
                </div>
               <div class="form-group">
                  <label class="control-label col-md-3">National Id<span style="color:red;">*</span></label>
               <div class="col-md-8">
                  @Html.TextBoxFor(m => m.National_Id, new { @Class = "form-control" })
               </div>
              </div>
            <div class="form-group">
                <label class="control-label col-md-3">Occupation<span style="color:red;">*</span></label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Occupation, new { @Class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Address<span style="color:red;">*</span></label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Address, new { @Class = "form-control" })
                </div>
            </div>
           

        <div class="form-group">
            <label class="control-label col-md-3">Monthly Amount<span style="color:red;">*</span></label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Monthly_Amount, new { @Class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">IP Address<span style="color:red;">*</span></label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.IP_Address, new { @Class = "form-control" })
            </div>
        </div>
       
        <div class="form-group">

            <label class="control-label col-md-3">Connection Date<span style="color:red;">*</span> </label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Connection_Date, new { @Class = "form-control myDatePicker" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Speed<span style="color:red;">*</span></label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Speed, new { @Class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Status<span style="color:red;">*</span></label>
            <div class="col-md-8">
                @Html.DropDownList("Status_Id", (List<SelectListItem>)ViewData["StatusList"], "Select Status", new { @class = "form-control editor-field" })
            </div>
        </div>


                <div class="form-group">
                    <label class="control-label col-md-3">Route<span style="color:red;">*</span></label>
                    <div class="col-md-8">
                        @Html.DropDownList("Route", (List<SelectListItem>)ViewData["RouteList"], "Select Route", new { @class = "form-control editor-field" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Package<span style="color:red;">*</span></label>
                    <div class="col-md-8">
                        @Html.DropDownList("Package", (List<SelectListItem>)ViewData["PackageList"], "Select Package", new { @class = "form-control editor-field" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Discount</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Discount, new { @Class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Image</label>
                    <div class="col-md-5">
                        <input type="file" id="image" name="image" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"></div>

                    <input type="submit" id="saveButton" value="Save" style="margin-left:15px" class="btn btn-info" />
                    <input type="button" value="Reset" id="reset" class="btn btn-info" />

                </div>

                @*<div class="form-group">
                    <div class="col-md-3"></div>
                    <label id="msg" style="color:red;">@ViewData["msg"]</label>
                </div>*@
   }
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <!-- page end-->
    </section>
</section>
@section scripts{
           
<script>
    $('.myDatePicker').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true
    })
    $(document).ready(function () {
        $("form").submit(function (event) {
            if ($("#Code").val() == "") {
                event.preventDefault();
                swal("Failed", "Code is required", "error").then(function () {
                    $("#Code").focus();
                });


            }
           else if ($("#Name").val() == "") {
                event.preventDefault();
                swal("Failed", "Name is required", "error").then(function () {
                    $("#Name").focus();
                });
           }
           else if ($("#Mobile1").val() == "" || $("#Mobile1").val().length != 11) {
               event.preventDefault();
               swal("Failed", "Mobile1 is required", "error").then(function () {
                   $("#Mobile1").focus();
               });
           }
           else if ($("#Mobile2").val() == "" || $("#Mobile2").val().length != 11) {
               event.preventDefault();
               swal("Failed", "Mobile2 is required", "error").then(function () {
                   $("#Mobile2").focus();
               });
           }
           else if ($("#Gender_Id").val() == "") {
                event.preventDefault();
                swal("Failed", "Gender is required", "error").then(function () {
                    $("#Gender_Id").focus();
                });
            }
           else if ($("#Route").val() == "") {
                event.preventDefault();
                swal("Failed", "Route is required", "error").then(function () {
                    $("#Route").focus();
                });
           }
           else if ($("#Package").val() == "") {
               event.preventDefault();
               swal("Failed", "Package is required", "error").then(function () {
                   $("#Package").focus();
               });
               }
          
           else {
               event.preventDefault();
                $.ajax({
                    url: "/Client/Create",
                    type: "POST",
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    data:
                   {
                       Code:$("#Code").val(),
                       Name: $("#Name").val(),
                       Mobile1: $("#Mobile1").val(),
                       Mobile2: $("#Mobile2").val(),
                       Email: $("#Email").val(),
                       Gender_Id:  $("#Gender_Id").val(),
                       Blood_Group_Id: $("#Blood_Group_Id").val(),
                       National_Id: $("#National_Id").val(),
                       Occupation: $("#Occupation").val(),
                       Address: $("#Address").val(),
                       Monthly_Amount: $("#Monthly_Amount").val(),
                       IP_Address: $("#IP_Address").val(),
                       Connection_Date: $("#Connection_Date").val(),
                       Speed: $("#Speed").val(),
                       Status_Id: $("#Status_Id").val(),
                       Route: $("#Route").val(),
                       Package: $("#Package").val(),
                       Discount: $("#Discount").val(),
                       Image: $('#image').get(0).files

                   },
                    success: function (data) {
                        if (data == "true")
                            swal("Success", "Successfully Saved", "success");
                        else
                            swal("Failed", data, "error");
                            resetfunction();
                    },
                    error: function (data) {
                        alert(data)
                    },

                })
            }
        });
        function resetfunction() {
           $("#Code").val(""),
            $("#Name").val(""),
            $("#Mobile1").val(""),
            $("#Mobile2").val(""),
            $("#Email").val(""),
             $("#Gender_Id").val(""),
            $("#Blood_Group_Id").val(""),
           $("#National_Id").val(""),
            $("#Occupation").val(""),
            $("#Address").val(""),
            
            $("#Monthly_Amount").val(""),
           $("#IP_Address").val(""),
           $("#Connection_Date").val(""),
           $("#Speed").val(""),
            $("#Status_Id").val(""),
            $("#Route").val(""),
           $("#Package").val(""),
            $("#Discount").val("")

        }
        //$("#reset").click(function () {

        //    resetFunction();

        //});
    });
</script>


}